@{
    ViewData["Title"] = "Order Pizza";
}
@model HomePageViewModel


<header>
    @await Html.PartialAsync("../Shared/NavHomePartial.cshtml")
    <div class="hero-text-box">
        <h1 style="color: #fff; font-size: 72px; font-weight: 300" class="animated fadeInLeft">Cathedral Kitchen</h1>
        <h2 style="color: #fff; font-weight: 300;" class="animated fadeInLeft">Thank you for being a part of our team</h2>
        <button type="button" class="btn btn-primary btn-lg js--scroll-to-order animated fadeIn" style="margin-top: 10px; position: relative; top: 50%; left: 33%;" href="#">Place order</button>
    </div>
</header>

<div class="order-section scrollable js--order-section">
    <div class="row" style="margin-top: 25px;">
        <div class="form-group col-md-4 offset-md-4">
            <h3 style="font-size: 36px; font-weight: 700; text-align: center">Place an order</h3>
        </div>
    </div>
    <div class="row">
        @await Html.PartialAsync("../Shared/OrderPartial.cshtml")
        <div class="col-3" style="margin-right:30px;">
            @await Html.PartialAsync("../Shared/CartPartial.cshtml")
        </div>
    </div>
</div>
<script src="~/lib/signalr/signalr.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.17.0/jquery.validate.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validation-unobtrusive/3.2.11/jquery.validate.unobtrusive.min.js"></script>
<script src="~/js/chat.js"></script>