@{
    ViewData["Title"] = "Order Pizza";
    Layout = "_Layout";
}
@model CodeViewModel
<header>
    @await Html.PartialAsync("../Shared/NavHomePartial.cshtml")
    @*<div style="display: flex; flex-direction:row; justify-content:space-between">
        <div style="display: flex; flex-direction:column;">
            <img class="animated fadeInLeft builder1" src="~/images/lennar.jpg" style="width:85px; height:85px; margin: 35px; margin-bottom: 55px" />
            <img class="animated fadeInLeft builder2" src="~/images/beazer.jpg" style="width:85px; height:85px; margin: 35px; margin-bottom: 55px" />
            <img class="animated fadeInLeft builder3" src="~/images/default.jpg" style="width:85px; height:85px; margin: 35px; margin-bottom: 55px" />
            <img class="animated fadeInLeft builder4" src="~/images/lennar.jpg" style="width:85px; height:85px; margin: 35px; margin-bottom: 40px" />

            <div style="display: flex; flex-direction:row">
                <img class="animated fadeInUp builder5" src="~/images/beazer.jpg" style="width:85px; height:85px; margin-top:35px; margin-left:35px; margin-right:85px; margin-bottom: 10px;" />
                <img class="animated fadeInUp builder6" src="~/images/default.jpg" style="width:85px; height:85px; margin-top:35px; margin-left:85px; margin-right:85px; margin-bottom: 10px;" />
                <img class="animated fadeInUp builder7" src="~/images/lennar.jpg" style="width:85px; height:85px; margin-top:35px; margin-left:85px; margin-right:85px; margin-bottom: 10px;" />
                <img class="animated fadeInUp builder8" src="~/images/beazer.jpg" style="width:85px; height:85px; margin-top:35px; margin-left:85px; margin-right:85px; margin-bottom: 10px;" />
                <img class="animated fadeInUp builder9" src="~/images/default.jpg" style="width:85px; height:85px; margin-top:35px; margin-left:85px; margin-right:85px; margin-bottom: 10px;" />
                <img class="animated fadeInUp builder10" src="~/images/lennar.jpg" style="width:85px; height:85px; margin-top:35px; margin-left:85px; margin-right:85px; margin-bottom: 10px;" />
                <img class="animated fadeInUp builder11" src="~/images/beazer.jpg" style="width:85px; height:85px; margin-top:35px; margin-left:85px; margin-right:85px; margin-bottom: 10px;" />

            </div>
        </div>
        <div style="display: flex; flex-direction:column">
            <img class="animated fadeInRight builder12" src="~/images/default.jpg" style="width:85px; height:85px; margin: 35px; margin-bottom: 55px" />
            <img class="animated fadeInRight builder13" src="~/images/lennar.jpg" style="width:85px; height:85px; margin: 35px; margin-bottom: 55px" />
            <img class="animated fadeInRight builder14" src="~/images/beazer.jpg" style="width:85px; height:85px; margin: 35px; margin-bottom: 55px" />
            <img class="animated fadeInRight builder15" src="~/images/default.jpg" style="width:85px; height:85px; margin: 35px; margin-bottom: 40px" />
            <img class="animated fadeInRight builder16" src="~/images/lennar.jpg" style="width:85px; height:85px; margin: 35px; margin-bottom: 55px" />

        </div>
    </div>*@
        <div class="hero-text-box">
            <h1 style="color: #fff; font-size: 72px; font-weight: 300" class="animated fadeInLeft">Cathedral Bites</h1>
            <h2 style="color: #fff; font-weight: 300;" class="animated fadeInLeft">Thank you for being a part of our team</h2>
            <button type="button" class="btn btn-primary btn-lg js--scroll-to-order animated fadeIn" style="margin-top: 10px; position: relative; top: 50%; left: 33%;" href="#">Place order</button>
        </div>
</header>
<div class="order-section scrollable js--order-section">
    <div class="row" style="margin-top: 25px;">
        <div class="form-group col-md-4 offset-md-4">
            <h3 style="font-size: 36px; font-weight: 700; text-align: center">Enter Daily Code</h3>
        </div>
    </div>
    <div class="row">
        <form style="margin-top: 70px;" class="orderForm col-8" id="checkoutForm" method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="row">
                <div class="form-group col-md-6 offset-md-6">
                    <div style="color:red;">@Html.ValidationMessage("error")</div>
                    <input asp-for="Code" type="text" class="form-control boxStyle" id="nameInput" placeholder="Enter Code" required />
                    <span asp-validation-for="Code" class="text-danger"></span>
                </div>
            </div>
            <div class="row">
                <div class="form-group col-md-6 offset-md-6">
                    <button type="submit" id="activateNav" class="btn btn-primary activateNav">Submit code</button>
                </div>
            </div>
        </form>
    </div>
</div>
@section Scripts
    {
    <script src="~/lib/signalr/signalr.js"></script>
    <script src="https://ajax.aspnetcdn.com/ajax/jquery/jquery-2.2.0.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.17.0/jquery.validate.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validation-unobtrusive/3.2.11/jquery.validate.unobtrusive.min.js"></script>
    <script src="~/js/chat.js"></script>
}