
html,body{
    height: 100%;
    font-size: 15px;
}

/* Wrapping element */
/* Set some basic padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Carousel */
.carousel-caption p {
    font-size: 20px;
    line-height: 1.4;
}

.titleTag {
    font-weight: bold;
}


/* Make .svg files in the carousel display properly in older browsers */
.carousel-inner .item img[src$=".svg"] {
    width: 100%;
}

/* QR code generator */
#qrCode {
    margin: 15px;
}

/* Hide/rearrange for smaller screens */
@media screen and (max-width: 767px) {
    /* Hide captions */
    .carousel-caption {
        display: none;
    }
}

/* -------HEADER------- */

header {
    background-image: -webkit-linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url(../images/pizza.jpg);
    background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url(../images/pizza.jpg);
    background-size: cover;
    background-position: center;
    height: 100vh;
    background-attachment: fixed;
    max-width: 100%;
}

.hero-text-box {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

a:link,
a:visited {
    color: #8f1496;
    text-decoration: none;
    padding-bottom: 1px;
    border-bottom: 1px solid transparent;
    -webkit-transition: border-bottom 0.2s, color 0.2s;
    transition: border-bottom 0.2s, color 0.2s;
}

a:hover,
a:active {
    color: #555;

    border-bottom: 1px solid #8f1496;
}

.order-section {
    background-color: #e5e5e5;
}

.order-status {
    background-color: #e5e5e5;
}

.scrollable {
    height: 100vh;
    overflow-y: scroll;
    overflow-x: hidden;
}

#sauceForTaco {
    display: none;
}

#extrasForTaco {
    display: none;
}

#labelForTaco {
    display: none;
}

 #toppingsForPizza {
     display: none;
 }
 
 #sizesForPizza {
     display: none;
 }
 
 .activeNav {
     display: none;
 }