
html,body{
    height: 100%;
    font-size: 15px;
}

/* Wrapping element */
/* Set some basic padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

.titleTag {
    font-weight: bold;
}

/* ------- HEADER ------- */

header {
    background-image: -webkit-linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url(../images/pizza.jpg);
    background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url(../images/pizza.jpg);
    background-size: cover;
    background-position: center;
    height: 100vh;
    background-attachment: fixed;
    max-width: 100%;
}

.hero-text-box {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

/* ------- BOOTSTRAP OVERRIDE ------ */

.bg-primary {
    background-color: #54075B !important;
}

/* ------- NAV ------ */

.activeNav {
    display: none;
}

.homeNav {
    display: none;
}


/* ------- LINKS ------- */


a:link,
a:visited {
    color: #54075B;
    text-decoration: none;
    padding-bottom: 1px;
    border-bottom: 1px solid transparent;
    -webkit-transition: border-bottom 0.2s, color 0.2s;
    transition: border-bottom 0.2s, color 0.2s;
}

a:hover,
a:active {
    color: #555;

    border-bottom: 1px solid #54075B;
}


/* ------- ORDER SECTION ------- */


.order-section {
    background-color: #e5e5e5;
}

.order-status {
    background-color: #e5e5e5;
}


/* ------- DROPDOWN BOX ------ */
.selectdiv:after {
    content: '\f078';
    font: normal normal normal 17px/1 FontAwesome;
    color: #54075B;
    right: 11px;
    height: calc(2.0625rem + 2px);
    padding: 8px 3px 0px 8px;
    margin-top: 5px;
    margin-right: 10px;
    border-left: 1px solid #54075B;
    
    position: absolute;
    pointer-events: none;
}

select::-ms-expand {
    display: none;
}

.selectdiv select {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    /* Add some styling */

    display: block;
    width: 100%;
    height: calc(2.0625rem + 2px);
    float: right;
    margin: 5px 0px;
    padding: 0px 7px;
    font-size: 16px;
    line-height: 1.75;
    color: #333;
    background-color: #ffffff;
    background-image: none;
    border: 1px solid #0ebeff;
    -ms-word-break: normal;
    word-break: normal;
}

.scrollable {
    height: 100vh;
    overflow-y: scroll;
    overflow-x: hidden;
}

/*------ TABLES ------*/
.tablez {
    background-color: rgb(240, 240, 240);
    padding: 15px;
    border: 1px solid #c8ced3;
    border-radius: .25rem;
    -webkit-box-shadow: 0px 1px 6px -1px rgba(120,120,120,1);
    -moz-box-shadow: 0px 1px 6px -1px rgba(120,120,120,1);
    box-shadow: 0px 1px 6px -1px rgba(120,120,120,1);
}



/*------ TOPPINGS HIDE FOR JAVASCRIPT ------*/

#sauceForTaco {
    display: none;
}

#extrasForTaco {
    display: none;
}

#labelForTaco {
    display: none;
}

 #toppingsForPizza {
     display: none;
 }
 
 #sizesForPizza {
     display: none;
 }
 
 
 
/* ------- CHECKBOX LIBRARY OVERRIDE ------- */
 
#pretty--color-primary {
    color: #54075B;
}


/* ------ JAVASCRIPT ANIMATIONS ------- */

.js--order-section
{
    opacity: 0;
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
}

.js--order-section.animated {
    opacity: 1;
}

.sticky .main-nav li a:link,
.sticky .main-nav li a:visited {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #54075B;
}