
@{
    ViewData["Title"] = "OrderInfo";
}
@model OrderViewModel

<div class="order-status">
    <h1 style="margin: 30px 0; text-align: center;">Order Status</h1>

    @await Html.PartialAsync("../Shared/OrderInfoPartial.cshtml")
</div>
<script src="~/lib/signalr/signalr.js"></script>
<script src="~/js/status.js"></script>
