@{
    ViewData["Title"] = "Order Pizza";
}
@model CustomerOrderViewModel


<div style="background-color:#efefef; border-width: 1px; border-color:black; -webkit-box-shadow: 0px 0px 9px 1px rgba(0,0,0,0.75); -moz-box-shadow: 0px 0px 9px 1px rgba(0,0,0,0.75); box-shadow: 0px 0px 9px 1px rgba(0,0,0,0.75); height:600px ">
    <h3 style="font-size: 36px; font-weight: 700; text-align: center; border-bottom:solid;">Cart</h3>
    <div style="display:flex; flex-direction: column; height:540px; justify-content: space-between;">
        <div style="flex:12; display:flex; justify-content:center;">
            @foreach (var item in ViewBag.cart)
            {
                var stringToppings = "";
                var idToppings = "";
                if (item.Toppings != null)
                {
                    stringToppings = string.Join(",", (IEnumerable<ToppingsViewModel>)item.Toppings.ToArray());
                    foreach (var topping in item.Toppings)
                    {
                        idToppings += (topping.Id + ",");
                    }
                }
                <div>@item.Quantity &nbsp </div>
                <div style="flex:9">
                    @foreach (ToppingsViewModel topping in item.Toppings)
                    {
                        <span>@topping.Name &nbsp </span>
                    }
                </div>
                <div style="font-weight: 500; flex:2">@item.MenuItem.Name</div>
                <div style="flex:2"><a href="@Url.Action("remove", "cart", new { id = item.MenuItem.Id, toppingIds = idToppings })">Remove</a></div>
            }
        </div>
        @if (ViewBag.cart.Count > 0)
        {
            <div class="form-group">
                <label class="titleTag">Special instructions</label>
                <textarea id="note" class="form-control"></textarea>
            </div>
        }
        <div style="flex:1; display: flex; justify-content: center;">
            <a id="placeOrder" style="color: #fff; height: 35px; font-size:16px;" asp-controller="cart" asp-action="checkout" asp-route-note="replacethis" class="btn btn-primary">Place order</a>
        </div>
    </div>
</div>