<nav class="navbar navbar-expand-lg activeNav navbar-primary bg-primary">
    <ul class="nav navbar-nav mr-auto">
        <li class="nav-item">
            <a class="nav-link" style="color: #fff; margin-right: 20px; margin-left: 16px; font-size: 16px; font-weight: 600;" asp-controller="Home" asp-action="Index">Cathedral Pizza</a>
        </li>
        <span style="display: none; visibility: hidden;">
            @Context.Session.TryGetValue("orderId", out var order)
        </span>
        @if (SignInManager.IsSignedIn(User))
        {
            <li class="nav-item">
                <a asp-area="" class="nav-link" style="color: #fff; margin-right: 20px; margin-left: 10px; font-size: 16px; font-weight: 400" asp-controller="Orders" asp-action="StatusOfAllOrders">Orders</a>
            </li>
            <li class="nav-item">
                <a asp-area="" class="nav-link" style="color: #fff; margin-right: 20px; margin-left: 10px; font-size: 16px; font-weight: 400" asp-controller="Orders" asp-action="SelectActiveMenuItems">Today's Menu</a>
            </li>
            <li class="nav-item">
                <a asp-area="" class="nav-link" style="color: #fff; margin-right: 20px; margin-left: 10px; font-size: 16px; font-weight: 400" asp-controller="Orders" asp-action="CreateItem">Add Item to menu</a>
            </li>
            <li class="nav-item">
                <a asp-area="" class="nav-link" style="color: #fff; margin-right: 20px; margin-left: 10px; font-size: 16px; font-weight: 400" asp-controller="Orders" asp-action="CreateTopping">Add Topping to menu</a>
            </li>
        }
        else if (order != null)
        {
            <li class="nav-item">
                <a asp-area="" class="nav-link" style="color: #fff; margin-right: 10px; margin-left: 10px; font-size: 16px; font-weight: 400" asp-controller="Orders" asp-action="OrderInfoForCustomer">Your Order</a>
            </li>
        }
    </ul>
    @using Microsoft.AspNetCore.Identity

    @inject SignInManager<User> SignInManager
    @inject UserManager<User> UserManager

    @if (SignInManager.IsSignedIn(User))
    {
        <ul class="nav navbar-nav ml-auto">
            <li class="nav-item">
                <a class="nav-link" style="color: #fff; margin-right: 20px; margin-left: 20px; font-size: 18px; font-weight: 400">Hello @UserManager.GetUserName(User)!</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" style="color: #fff; margin-right: 20px; margin-left: 20px; font-size: 18px; font-weight: 400" asp-controller="Account" asp-action="Logout" method="post">Log out</a>
            </li>
        </ul>
    }
    else
    {
    <ul class="nav navbar-nav ml-auto">
        @*<li><a class="nav-link" style="color: #fff; margin-right: 20px; margin-left: 20px; font-size: 18px; font-weight: 300" asp-area="" asp-controller="Account" asp-action="Register">Register</a></li>*@
        <li><a class="nav-link" style="color: #fff; margin-right: 20px; margin-left: 20px; font-size: 18px; font-weight: 300" asp-area="" asp-controller="Account" asp-action="Login">Log in</a></li>
    </ul>
    }

</nav>