@{
    ViewData["Title"] = "Order Pizza";
}
@model CartViewModel


<form style="margin-top: 70px;" class="orderForm col-8" id="checkoutForm" method="post">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    @**************************@
    @*          NAME          *@
    @**************************@
    <div class="row">
        <div class="form-group col-md-6 offset-md-4">
            <label asp-for="Name" class="titleTag">Name</label>
            <input asp-for="Name" type="text" class="form-control boxStyle" id="nameInput" aria-describedby="emailHelp" placeholder="Enter Name" required />
            <span asp-validation-for="Name" class="text-danger"></span>
        </div>
    </div>
    @**************************@
    @*       ISBUILDER        *@
    @**************************@
    <div class="row">
        <div class="form-group col-md-6 offset-md-4">
            <div class="pretty p-icon p-smooth">
                <input asp-for="IsEmployee" id="isEmployee" class="isEmployee" type="checkbox" />
                <div class="state p-primary">
                    <i class="icon fa fa-check"></i>
                    <label>Are you a Cathedral E</label>
                </div>
            </div>
        </div>
    </div>
    @**************************@
    @*       COMMUNITY        *@
    @**************************@
    <div class="row">
        <div class="form-group col-md-6 offset-md-4" id="community">
            <label asp-for="CommunityId" class="titleTag" for="communityId">Community</label>
            <select asp-for="CommunityId" class="form-control" id="communityId">
                <option value="" disabled selected hidden> -- </option>
                @foreach (var community in Model.Communities)
                {
                    <option value=@community.Id>@community.Name</option>
                }
            </select>
            <span asp-validation-for="CommunityId" class="text-danger"></span>
        </div>
    </div>
    @**************************@
    @*      ADDRESSLINE1      *@
    @**************************@
    <div class="row">
        <div class="form-group col-md-6 offset-md-4" id="addressLine1">
            <label asp-for="AddressLine1" class="titleTag">Address Line 1</label>
            <input asp-for="AddressLine1" type="text" class="form-control boxStyle" id="nameInput" aria-describedby="emailHelp" placeholder="Enter Address" required />
            <span asp-validation-for="AddressLine1" class="text-danger"></span>
        </div>
    </div>
    @**************************@
    @*      ADDRESSLINE2      *@
    @**************************@
    <div class="row">
        <div class="form-group col-md-6 offset-md-4" id="addressLine2">
            <label asp-for="AddressLine2" class="titleTag">Address Line 2</label>
            <input asp-for="AddressLine2" type="text" class="form-control boxStyle" id="nameInput" aria-describedby="emailHelp" placeholder="Enter Address" />
            <span asp-validation-for="AddressLine2" class="text-danger"></span>
        </div>
    </div>
    @**************************@
    @*          CITY          *@
    @**************************@
    <div class="row">
        <div class="form-group col-md-6 offset-md-4" id="city">
            <label asp-for="City" class="titleTag">City</label>
            <input asp-for="City" type="text" class="form-control boxStyle" id="nameInput" aria-describedby="emailHelp" placeholder="Enter City" required />
            <span asp-validation-for="City" class="text-danger"></span>
        </div>
    </div>
    @*************************@
    @*        ZIPCODE        *@
    @*************************@
    <div class="row">
        <div class="form-group col-md-6 offset-md-4" id="zipcode">
            <label asp-for="Zipcode" class="titleTag">Zipcode</label>
            <input asp-for="Zipcode" type="text" class="form-control boxStyle" id="nameInput" aria-describedby="emailHelp" placeholder="Enter Zipcode" required />
            <span asp-validation-for="Zipcode" class="text-danger"></span>
        </div>
    </div>
    @**************************@
    @*        COMMENTS        *@
    @**************************@
    <div class="row">
        <div class="form-group col-md-6 offset-md-4">
            <div class="form-group">
                <label asp-for="Note" class="titleTag" for="specialInstructionsInput">Note</label>
                <textarea asp-for="Note" class="form-control">
                    </textarea>
            </div>
        </div>
    </div>
    @**************************@
    @*        SUBMIT          *@
    @**************************@
    <div class="row">
        <div class="form-group col-md-6 offset-md-4">
            <button type="submit" id="activateNav" class="btn btn-primary activateNav">Place Order</button>
        </div>
    </div>
</form>
<script src="~/lib/signalr/signalr.js"></script>
<script src="https://ajax.aspnetcdn.com/ajax/jquery/jquery-2.2.0.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.17.0/jquery.validate.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validation-unobtrusive/3.2.11/jquery.validate.unobtrusive.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/waypoints/2.0.5/waypoints.min.js"></script>
<script src="~/js/chat.js"></script>

